@{
    ViewBag.Title = "Contact";
}

<h2>Andrew Quizi</h2>

<address>
    <p><a href="mailto:andquizi@gmail.com" target="_blank">andquizi@gmail.com</a></p>
    <p><a href="https://github.com/AndQuizi" target="_blank">Github</a></p>
</address>